.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #a7d4ff;
    padding-bottom: 1px;
}

.header > h1 {
    margin-top: 17px;
    margin-right: 25px;
}

.navigation-wrapper {
    height: 75px;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
}

.navigation-bar {
    margin-left: -7px;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
}

.navigation-bar > div {
    padding-bottom: 3px;
    transition: 0.3s;
    display: flex;
    height: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 2px solid rgb(255, 252, 252);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigation-bar > div:hover {
    transition: 0.1s;
    cursor: pointer;
    font-size: 1em;
    background-color: #95c2d4;
}

.navigation-bar > div:active {
    transition: 0s;
    -webkit-box-shadow: inset 0px 0px 14px -4px #000000; 
    box-shadow: inset 0px 0px 14px -4px #000000;
}

.navigation-bar > div:active {
    transition: 0.1s;
    font-size: 0.95em;
}